/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');

/* Importing components */
@import url('css/about.css');
@import url('css/contact.css');
@import url('css/containers.css');
@import url('css/footer.css');
@import url('css/intro.css');
@import url('css/navbar.css');
@import url('css/qualify.css');
@import url('css/signup.css');
@import url('css/taste.css');
@import url('css/testimonies.css');

@import url('css/facts.css');

/* Importing layouts */
@import url("layouts/layouts.css");

body {
 font-family: 'Quicksand', sans-serif;
 font-weight: 300;
 background-color: #EA5340;
}

h1, h2, h3, h4, h5, h6 {
 font-weight: 500;
}
.padded {
  padding: 30px 0;
}
